<!doctype html>
<body>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Gen Z Mafia | Builds</title>
        <meta name="description" content="Zoomers, not Boomers. A community of young builders." />
        <meta name="keywords" content="gen z, mafia, builds, exclusive, hidden, zoomers" />
        <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
        <link rel="manifest" href="icons/site.webmanifest">
        <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#030303">
        <link rel="shortcut icon" href="icons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="icons/browserconfig.xml">
        <meta name="theme-color" content="#000000">
        <link rel="stylesheet" href="css/styles.min.css" />
        <meta name="description" content="Zoomers, not Boomers. A community of young builders." />
        <meta property="og:type" content="website" />
        <meta name="og:title" property="og:title" content="Gen Z Mafia" />
        <meta name="og:description" property="og:description"
            content="Zoomers, not Boomers. A community of young builders." />
        <meta property="og:site_name" content="genzmafia.com" />
        <meta property="og:url" content="https://genzmafia.com" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Gen Z Mafia" />
        <meta name="twitter:description" content="Zoomers, not Boomers. A community of young builders." />
        <meta name="twitter:site" content="https://genzmafia.com" />
        <meta property="og:image" content="https://genzmafia.com/icons/metaimage.gif" />
        <meta name="twitter:image" content="https://genzmafia.com/icons/metaimage.gif" />
    </head>
    <body class="drops">
        <div class='sizer'>
            <a href="/" class="go_back">Go back</a>
            <h1>Builds</h1>
            <p>Projects built by the Gen Z Mafia.</p>
            <div class='projectwrapper'>
                <a class="project" href="https://tweetledee.xyz" target="_blank" rel="noopener noreferrer" style="width:100%">
                    <img src="https://ph-files.imgix.net/52de2e13-4217-493d-a135-9bc61e0a342e.png?auto=format&fit=crop&frame=1&h=512&w=1024" alt="Tweetledee" style='width:100%'/>
                    <div>
                        <span>BUILD 006 — 8/10/2020</span>
                        <h3>Tweetledeee</h3>
                        <span>Match with your Twitter crush, risk free.</span>
                    </div>
                </a>
                <a class="project" href="https://www.notion.so/HackZ-1-0-523606111e58405c86c3d60ba936aff0/" target="_blank" rel="noopener noreferrer" style="width:100%">
                    <img src="icons/hackathon.png" alt="Hackathon" style='width:100%'/>
                    <div>
                        <span>BUILD 005 — 8/10/2020</span>
                        <h3>HackZ</h3>
                        <span>The first GenZ hackathon, with a goal to reach social impact through technology.</span>
                    </div>
                </a>
            <!-- <a class="project" href="https://woaini.page/" target="_blank" rel="noopener noreferrer" style="width:100%">
                <img src="https://woaini.page/thumbnail.png" alt="woAIni.page" style='width:100%'/>
                <div>
                    <span>BUILD 004 — 8/05/2020</span>
                    <h3>woAIni.page</h3>
                    <span>Enter your username and we’ll tell you who we think you're crushing on and how compatible you are.</span>
                </div>
            </a>
            <a class="project" href="https://purity.games" target="_blank" rel="noopener noreferrer" style="width:100%">
                <img src="https://purity.games/image.gif" alt="purity.games" style='width:100%'/>
                <div>
                    <span>BUILD 003 — 8/02/2020</span>
                    <h3>purity.games</h3>
                    <span>A game to get you drunk, powered by AI. How pure are you?</span>
                </div>
            </a> -->
            <a class="project" href="https://megablock.xyz" target="_blank" rel="noopener noreferrer">
                <img src="https://megablock.xyz/twitterimage.png" alt="MegaBlock.XYZ" />
                <div>
                    <span>BUILD 002 — 7/30/2020</span>
                    <h3>MegaBlock.XYZ</h3>
                    <span>Really don't like a tweet? Block the author and everyone who liked it with one click.</span>
                </div>
            </a>
            <a class="project" href="https://vibes.fyi" target="_blank" rel="noopener noreferrer">
                <img src="https://vibes.fyi/metaimage.png" alt="Vibes.fyi" />
                <div>
                    <span>BUILD 001 — 7/25/2020</span>
                    <h3>Vibes.FYI</h3>
                    <span>With all the bad happening in the world, share the good that happened to you today.</span>
                </div>
            </a>
            </div>
        </div>
    </body>
</body>
