<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Gen Z Mafia</title>
    <meta
      name="description"
      content="Zoomers, not Boomers. A community of young builders."
    />
    <meta
      name="keywords"
      content="gen z, mafia, builds, exclusive, hidden, zoomers"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="manifest" href="icons/site.webmanifest" />
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#030303" />
    <link rel="shortcut icon" href="icons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="icons/browserconfig.xml" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="css/styles.css" />
    <meta
      name="description"
      content="Zoomers, not Boomers. A community of young builders."
    />
    <meta property="og:type" content="website" />
    <meta name="og:title" property="og:title" content="Gen Z Mafia" />
    <meta
      name="og:description"
      property="og:description"
      content="Zoomers, not Boomers. A community of young builders."
    />
    <meta property="og:site_name" content="Gen Z Mafia" />
    <meta property="og:url" content="https://genzmafia.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Gen Z Mafia" />
    <meta
      name="twitter:description"
      content="Zoomers, not Boomers. A community of young builders."
    />
    <meta name="twitter:site" content="https://genzmafia.com" />
    <meta property="og:image" content="https://genzmafia.com/icons/metaimage.gif" />
    <meta name="twitter:image" content="https://genzmafia.com/icons/metaimage.gif"/>
    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this demo in a modern browser that supports CSS Variables."
        );
    </script>
    <style>
      body {
        overflow: hidden;
      }
    </style>
  </head>

  <body>
    <main>
      <div class="frame">
        <img src="icons/logo.png" alt="Gen Z logo" />
        <p class="mobile-hide">
          Gen Z Mafia is a community of
          <span class="highlight">young builders.</span>
        </p>
        <p>We <span class="highlight">make</span> new experiences.</p>
        <a href="/launches"
          >Explore our launches<span class="arrow">➜</span></a
        >
        <a href="https://genzmafia.typeform.com/to/ggA4jCm8" target="_blank"
          >Join GZM<span class="arrow">➜</span></a
        >
        <form
          action="https://genzmafia.us17.list-manage.com/subscribe/post?u=803b8a60560730803f22c8879&amp;id=5449d33855"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          
          target="_blank"
          novalidate
        >
          <input
            id="email-input"
            type="email"
            value=""
            name="EMAIL"
            class="email email-form"
            id="mce-EMAIL"
            placeholder="Sign up to get notified"
            required
          />
          <div>
            <input
              class="hidden"
              name="b_803b8a60560730803f22c8879_5449d33855"
              tabindex="-1"
              value=""
            />
          </div>
          <input
            type="submit"
            value="➜"
            name="subscribe"
            class="submit-button"
          />
        </form>
        <div style="margin-top: 10px;">
          <a
            style="color: white;"
            href="https://twitter.com/genzmafia"
            target="_blank"
          >
            <img src="icons/Twitter_Logo_Blue.svg" width="50"
          /></a>
        </div>
       
      </div>

      <div class="content">
        <div id="webgl"></div>
      </div>
     
    </main>
    <script src="js/main.js"></script>
  </body>
</html>
